/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #636363;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
@font-face {
  font-family: "lg";
  src: url("../lightgallery/fonts/lg.eot?n1z373");
  src: url("../lightgallery/fonts/lg.eot?#iefixn1z373")
      format("embedded-opentype"),
    url("../lightgallery/fonts/lg.woff?n1z373") format("woff"),
    url("../lightgallery/fonts/lg.ttf?n1z373") format("truetype"),
    url("../lightgallery/fonts/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* HEADER */
header {
  position: fixed;
  z-index: 99;
  background: transparent;
  left: 0;
  right: 0;
}
header.small {
  background: white;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
}
header.small .logo__header {
  display: table;
  vertical-align: middle;
  transition: all 1s;
  height: 90px;
}
header.small .header__nav > ul > li {
  transition: all 1s;
  padding: 35px 15px;
}
header.small .get-quote__btn {
  height: 90px;
  transition: all 1s;
}

.logo__header {
  float: left;
  display: table;
  vertical-align: middle;
  transition: all 1s;
  height: 130px;
}
.logo__header a {
  display: table-cell;
  vertical-align: middle;
}
.header__nav,
.get-quote__btn {
  float: right;
}
.header__nav > ul {
  display: flex;
  align-items: center;
}
.header__nav a {
  color: #070120;
}
.header__nav > ul > li {
  padding: 55px 15px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s;
  color: #070120;
  position: relative;
}
.header__nav > ul > li > a {
  display: inline-block;
  margin-right: 3px;
}
.header__nav > ul > li > i {
  display: inline-block;
}
.header__nav > ul > li:hover > a {
  color: #f55f8d;
  animation: animation__nav 0.5s;
}
.header__nav li:hover {
  color: #f55f8d;
}
.header__nav li:hover .sub__nav__level-1 {
  animation: animation__sub__nav 0.8s;
  display: block;
}

.sub__nav {
  box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
  min-width: 220px;
  display: none;
  transition: all 0.8s;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.sub__nav li {
  padding: 1rem 1rem 1rem 2rem;
  background-color: white;
  transition: all 0.5s;
}
.sub__nav li:hover {
  background-color: #f2f2f2;
  padding-left: 2.4rem;
}
.sub__nav li a::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #f55f8d;
  display: block;
  transition: all 0.5s;
  position: absolute;
  top: 0.5rem;
  left: -1rem;
}
.sub__nav__level-1 > li a {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}
.sub__nav__level-1 li {
  position: relative;
}
.sub__nav__level-1 > li:hover > a::before {
  width: 0.7rem;
}
.sub__nav__level-1 li:hover > a {
  color: #f55f8d;
}
.sub__nav__level-1 li:hover i {
  margin-right: 0;
}
.sub__nav__level-1 li:hover .sub__nav__level-2 {
  display: block;
  animation: animation__sub__nav 0.8s;
}
.sub__nav i {
  float: right;
  margin-right: 0.67777rem;
  font-size: 0.6rem;
  font-weight: 600;
  transition: all 0.5s;
}
.sub__nav__level-1 {
  position: absolute;
  top: 100%;
  left: 0;
}
.sub__nav__level-2 {
  position: absolute;
  left: 100%;
  top: 0;

  display: none;
}
.sub__nav__level-2 > li:hover > a::before {
  width: 0.7rem;
}
@keyframes animation__nav {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  51% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animation__sub__nav {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  padding: 1.4rem 1.8rem;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to left, #f55f8d, #f8ae56, #f55f8d);

  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.5s;
  background-size: 200%;
}
.btn:hover {
  background-position: right;
}
.get-quote__btn {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin-left: 1.5rem;
}

/* BANNER */
.banner {
  background-image: url(../img/pic2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding-top: 180px;
  overflow: hidden;
}
.banner__content {
  display: flex;
}
.banner__left {
  width: 60%;
  margin-top: 50px;
  margin-right: 50px;
}
.banner__left h6 {
  font-size: 1.5rem;
  color: #f55f8d;
  margin-bottom: 20px;
}
.banner__left h1 {
  font-size: 4.6777rem;
  color: #262626;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 800;
}
.banner__left p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.banner__left ul {
  margin-bottom: 1.5rem;
}
.banner__left li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.banner__left li i {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  padding: 8px;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  margin-right: 8px;
}
.banner__right {
  width: 40px;
  position: relative;
}
.banner__media img {
  display: block;
}
.banner__media__overlay img {
  position: absolute;
  top: -1%;
  left: -8rem;
  animation: animation__banner 5s infinite;
}
@keyframes animation__banner {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* SERVICES */
.services {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
.header__section {
  text-align: center;
}
.header__section h6 {
  font-size: 1.4rem;
  color: #f55f8d;
}
.header__section h1 {
  font-size: 4rem;
  color: #262626;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 40px;
}
.services__content {
  display: flex;
}
.services__item {
  text-align: center;
  padding: 0 15px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  transition: all 0.8s;
}
.services__item + .services__item {
  margin-left: 2rem;
}
.services__item h2 {
  margin-bottom: 15px;
  color: #070120;
}
.services__item p {
  font-size: 1.08rem;
  line-height: 1.5;
}
.services__item img {
  max-width: 215px;
  margin-bottom: 25px;
}
.services__item:hover {
  transform: translateY(-15px);
}
/* ABOUT */
.about {
  padding-top: 115px;
  padding-bottom: 85px;
  position: relative;
  background-image: url(../img/bg15.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.about__content {
  display: flex;
  justify-content: space-between;
}
.about__left {
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
  position: relative;
}
.about__leftImg {
  margin: 60px 70px 60px 0;
  float: right;
  display: block;
  width: 50vw;
  position: relative;
}
.about__leftImg::before {
  content: "";
  height: 100%;
  background: #fef2f6;

  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 50vw;
  z-index: -1;
  right: -20px;
  transform: rotate(8deg);
  border-radius: 0 100px 100px 0;
}
.about__left img {
  border-radius: 0 100px 100px 0;
  width: 100%;
}
.about__right {
  max-width: 50%;
  margin-top: 4rem;
  padding: 0 1rem;
}
.about__right .header__section {
  text-align: left;
}
.about__rightContent p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.about__rightContent ul {
  margin-bottom: 2rem;
}
.about__rightContent li {
  margin-bottom: 1rem;
}
.about__rightContent li i {
  display: inline-block;
  padding: 0.2rem;
  color: #f55f8d;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1rem;
}
/* NUMBER */
.number {
  background-image: url(../img/bg14.png);
  padding: 80px 0;
  background-position: center;
}
.number__content {
  flex-direction: row;
  display: flex;
}
.number__item {
  text-align: center;
  width: 25%;
}
.number__item i {
  padding: 1rem 1.2rem;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  margin: 0 8rem 1rem;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  display: inline-block;
}
.number__item h1,
.number__item span {
  color: #f55f8d;
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  display: inline-block;
}
.number__item p {
  font-size: 1.2rem;
  color: #070120;
}
/* FEATURES */
.features {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.features .container {
  display: flex;
}
.features__left,
.features__right {
  max-width: 50%;
  padding: 0 1rem;
}
.features__left .header__section {
  text-align: left;
}
.features__item {
  display: flex;
  padding: 2rem;
  background-color: #fff;
  align-items: center;
  position: relative;
}
.features__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  opacity: 0;
  z-index: 2;
  transition: all 1s;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
}
.features__item:nth-of-type(1),
.features__item:nth-of-type(3) {
  margin-bottom: 2rem;
  margin-right: 3.33333rem;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
}
.features__item:nth-of-type(2) {
  margin-bottom: 2rem;
  margin-left: 3.33333rem;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
}
.features__logo {
  font-size: 4rem;
  z-index: 3;
}
.features__logo i {
  font-size: 5.5rem;
  color: #f55f8d;
  transition: all 1s;
}
.features__text {
  padding-left: 1.5rem;
  z-index: 3;
}
.features__text h3 {
  font-size: 1.67778rem;
  margin-bottom: 0.6rem;
  color: #070120;
}
.features__text p {
  font-size: 1.07rem;
  line-height: 1.5;
  position: relative;
}
.features__img {
  width: 100%;
  margin-top: 5rem;
}
.features__img img {
  width: 115%;
  animation: animation__banner 4s infinite;
}
.features__item:hover {
  color: white;
}
.features__item:hover::after {
  opacity: 1;
}
.features__item:hover h3,
.features__item:hover i {
  color: white;
}
/* PORTFOLIO */
.portfolio {
  padding-top: 115px;
}
.portfolio__content {
  display: grid;
  grid-template-columns: calc(58.33333% / 2) calc(58.33333% / 2) calc(
      100% - 58.33333%
    );
  margin: -1rem;
}
.portfolio__item {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
}
.portfolio__item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  transform: rotate(0) scale(1);
  transition: all 0.5s;
}
.portfolio__item:nth-of-type(1) {
  grid-column: 1 / span 2;
}
.portfolio__item:nth-of-type(5) {
  grid-area: 3/1 / span 2 / span 2;
}
.portfolio__item:nth-of-type(6) {
  grid-area: 2/3 / span 3 / span 1;
}
.portfolio__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200%;
  visibility: hidden;
  display: block;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(255, 255, 255, 0.1) 10%
  );
  opacity: 0;
}
.portifolio__icon {
  position: absolute;
  opacity: 0;
  right: 1.5rem;
  top: 1.5rem;
  transform: translate(1.5rem, -1.5rem);
  transition: all 1s;
}
.portifolio__icon i {
  font-size: 2rem;
  padding: 0.7rem;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  opacity: 1;
  border-radius: 0.67777rem;
  color: white;
  cursor: pointer;
}
.portifolio__text {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  opacity: 0;
  transition: all 1s;
  transform: translateY(2.5rem);
}
.portifolio__text h3 {
  color: white;
  font-size: 1.5rem;
}
.portifolio__text p {
  color: #fff;
  font-size: 1.1rem;
}
.portfolio__item:hover .portifolio__icon {
  opacity: 1;
  transform: translate(0, 0);
}
.portfolio__item:hover .portifolio__text {
  transform: translate(0);
  opacity: 1;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  visibility: visible;
  animation: animation__portfolio 0.6s;
}
@keyframes animation__portfolio {
  0% {
    transform: skewX(-25deg) translateX(-135%);
  }
  100% {
    transform: skewX(-25deg) translateX(-20%);
  }
}
/* PLAN */
.plan {
  padding-top: 115px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plan .header__section h1 {
  margin-bottom: 1rem;
}
.header__section .header__tab {
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 0.3rem;
  display: flex;
  margin: 0 auto;
  height: 50px;
  width: 235px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}
.header__section .header__tab span {
  width: 50%;
  text-align: center;
  color: #000;
  transition: all 1s;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}
.header__section .header__tab::after {
  content: "";
  width: calc(50% - 4px);
  display: block;
  height: 42px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
  left: 4px;
  right: auto;
  transition: all 1s;
}
.plan__content {
  display: flex;
  justify-content: space-between;
}
.plan__item {
  width: calc(100% / 3);
  padding: 2.33333rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  background-color: #fff;
  border: 3px solid transparent;
  transition: all 0.5s;
  border-image: 100 round;
}
.plan__item + .plan__item {
  margin-left: 2rem;
}
.plan__item h3 {
  text-align: center;
  font-size: 2rem;
  color: #262626;
}
.plan__item img {
  width: 125px;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}
.plan__item h2 {
  margin-bottom: 25px;
  color: #f8ae56;
  font-size: 50px;
  text-align: center;
}
.plan__item h2 span {
  font-size: 1.2rem;
  color: #262626;
}
.plan__item ul {
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.plan__item li i {
  font-size: 0.7rem;
  padding: 0.4rem;
  background-color: #feeff3;
  border-radius: 50%;
  color: rgb(245, 95, 141);
}
.plan__item li p {
  font-size: 1.2rem;
  color: #070120;
  margin-left: 1rem;
}
.plan__item input {
  display: block;
  margin: auto;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
/* TESTIMONIAL */
.testimonial {
  padding-top: 115px;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-repeat: no-repeat;
}
