/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background: #f55f8d;
  color: #fff;
}
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #636363;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: "lg";
  src: url("../lightgallery/fonts/lg.eot?n1z373");
  src: url("../lightgallery/fonts/lg.eot?#iefixn1z373")
      format("embedded-opentype"),
    url("../lightgallery/fonts/lg.woff?n1z373") format("woff"),
    url("../lightgallery/fonts/lg.ttf?n1z373") format("truetype"),
    url("../lightgallery/fonts/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* LOADING */
#status {
  height: 80px;
  width: 80px;
  position: fixed;
  left: 50%;
  z-index: 100;
  top: 50%;
  background-image: url(../img/loading-02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  z-index: 1001;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fef9f2;
  z-index: 1000;
}
/* HEADER */
header {
  position: fixed;
  z-index: 99;
  background: transparent;
  left: 0;
  right: 0;
}
header.small {
  background: white;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
}
header.small .logo__header {
  display: flex;
  align-items: center;
  transition: all 1s;
  height: 90px;
}
header.small .header__nav > ul > li {
  transition: all 1s;
  padding: 35px 15px;
}
header.small .get-quote__btn {
  height: 90px;
  transition: all 1s;
}
.header__content {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.header__right {
  display: flex;
}
.logo__header {
  transition: all 1s;
  height: 130px;
  display: flex;
  align-items: center;
}
.header__nav > ul {
  display: flex;
}
.header__nav a {
  color: #262f5a;
}
.header__nav > ul > li {
  padding: 55px 15px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s;
  color: #262f5a;

  position: relative;
}
.header__nav > ul > li > a {
  display: inline-block;
  margin-right: 3px;
}
.header__nav > ul > li > i {
  display: inline-block;
}
.header__nav > ul > li:hover > a {
  color: #f55f8d;
  animation: animation__nav 0.5s;
}
.header__nav li:hover {
  color: #f55f8d;
}
.header__nav li:hover .sub__nav__level-1 {
  animation: animation__sub__nav 0.8s;
  display: block;
}

.sub__nav {
  box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
  min-width: 220px;
  display: none;
  transition: all 0.8s;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.sub__nav li {
  padding: 1rem 1rem 1rem 2rem;
  background-color: white;
  transition: all 0.5s;
}
.sub__nav li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub__nav i {
  margin-right: 0.67777rem;
  font-size: 0.6rem;
  font-weight: 600;
  transition: all 0.5s;
}
.sub__nav li:hover {
  background-color: #f2f2f2;
  padding-left: 2.4rem;
}
.sub__nav li a::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #f55f8d;
  display: block;
  transition: all 0.5s;
  position: absolute;
  top: 0.5rem;
  left: -1rem;
}
.sub__nav__level-1 > li a {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}
.sub__nav__level-1 li {
  position: relative;
}
.sub__nav__level-1 > li:hover > a::before {
  width: 0.7rem;
}
.sub__nav__level-1 li:hover > a {
  color: #f55f8d;
}
.sub__nav__level-1 li:hover i {
  margin-right: 0;
}
.sub__nav__level-1 li:hover .sub__nav__level-2 {
  display: block;
  animation: animation__sub__nav 0.8s;
}
.sub__nav__level-1 {
  position: absolute;
  top: 100%;
  left: 0;
}
.sub__nav__level-2 {
  position: absolute;
  left: 100%;
  top: 0;

  display: none;
}
.sub__nav__level-2 > li:hover > a::before {
  width: 0.7rem;
}
@keyframes animation__nav {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  51% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animation__sub__nav {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  padding: 1.4rem 1.8rem;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to left, #f55f8d, #f8ae56, #f55f8d);

  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.5s;
  background-size: 200%;
}
.btn:hover {
  background-position: right;
}
.get-quote__btn {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin-left: 1.5rem;
}

/* BANNER */
.banner {
  background-image: url(../img/pic2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding-top: 180px;
  overflow: hidden;
}
.banner__content {
  display: flex;
}
.banner__left {
  width: 60%;
  margin-top: 50px;
  margin-right: 50px;
}
.banner__left h6 {
  font-size: 1.5rem;
  color: #f55f8d;
  margin-bottom: 20px;
}
.banner__left h1 {
  font-size: 4.6777rem;
  color: #262626;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 800;
}
.banner__left p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.banner__left ul {
  margin-bottom: 1.5rem;
}
.banner__left li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.banner__left li i {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  padding: 8px;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  margin-right: 8px;
}
.banner__right {
  width: 40px;
  position: relative;
}
.banner__media img {
  display: block;
}
.banner__media__overlay img {
  position: absolute;
  top: -1%;
  left: -8rem;
  animation: animation__banner 5s infinite;
}
@keyframes animation__banner {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* SERVICES */
.services {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
.header__section {
  text-align: center;
}
.header__section h6 {
  font-size: 1.4rem;
  color: #f55f8d;
}
.header__section h1 {
  font-size: 4rem;
  color: #262626;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 40px;
}
.services__content {
  display: flex;
}
.services__item {
  text-align: center;
  padding: 0 15px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  transition: all 0.8s;
}
.services__item + .services__item {
  margin-left: 2rem;
}
.services__item h2 {
  margin-bottom: 15px;
  color: #070120;
}
.services__item p {
  font-size: 1.08rem;
  line-height: 1.5;
}
.services__item img {
  max-width: 215px;
  margin-bottom: 25px;
}
.services__item:hover {
  transform: translateY(-15px);
}
/* ABOUT */
.about {
  padding-top: 115px;
  padding-bottom: 85px;
  position: relative;
  background-image: url(../img/bg15.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.about__content {
  display: flex;
  justify-content: space-between;
}
.about__left {
  max-width: 50%;
  padding: 0 15px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.about__leftImg {
  margin: 60px 70px 60px 0;
  float: right;
  display: block;
  width: 50vw;
  position: relative;
}
.about__leftImg::before {
  content: "";
  height: 100%;
  background: #fef2f6;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 50vw;
  z-index: -1;
  right: -20px;
  transform: rotate(8deg);
  border-radius: 0 100px 100px 0;
}
.about__left img {
  border-radius: 0 100px 100px 0;
  width: 100%;
}
.about__right {
  max-width: 50%;
  margin-top: 4rem;
  padding: 0 1rem;
}
.about__right .header__section {
  text-align: left;
}
.about__rightContent p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.about__rightContent ul {
  margin-bottom: 2rem;
}
.about__rightContent li {
  margin-bottom: 1rem;
}
.about__rightContent li i {
  display: inline-block;
  padding: 0.2rem;
  color: #f55f8d;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1rem;
}
/* NUMBER */
.number {
  background-image: url(../img/bg14.png);
  padding: 80px 0;
  background-position: center;
}
.number__content {
  flex-direction: row;
  display: flex;
}
.number__item {
  text-align: center;
  width: 25%;
}
.number__item i {
  padding: 1rem 1.2rem;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  margin: 0 8rem 1rem;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  display: inline-block;
}
.number__item h1,
.number__item span {
  color: #f55f8d;
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  display: inline-block;
}
.number__item p {
  font-size: 1.2rem;
  color: #070120;
}
/* FEATURES */
.features {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.features .container {
  display: flex;
}
.features__left,
.features__right {
  max-width: 50%;
  padding: 0 1rem;
}
.features__left .header__section {
  text-align: left;
}
.features__item {
  display: flex;
  padding: 2rem;
  background-color: #fff;
  align-items: center;
  position: relative;
}
.box-hover {
  transform: all 1s;
}
.features__item.active::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  opacity: 1;
  z-index: 2;
  animation: animation__hoverbox 1.3s;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
}
@keyframes animation__hoverbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.features__item:nth-of-type(1),
.features__item:nth-of-type(3) {
  margin-bottom: 2rem;
  margin-right: 3.33333rem;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
}
.features__item:nth-of-type(2) {
  margin-bottom: 2rem;
  margin-left: 3.33333rem;
  border-radius: 10px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
}
.features__logo {
  font-size: 4rem;
  z-index: 3;
}
.features__logo i {
  font-size: 5.5rem;
  color: #f55f8d;
  transition: all 1s;
}
.features__text {
  padding-left: 1.5rem;
  z-index: 3;
}
.features__text h3 {
  font-size: 1.67778rem;
  margin-bottom: 0.6rem;
  color: #070120;
}
.features__text p {
  font-size: 1.07rem;
  line-height: 1.5;
  position: relative;
}
.features__item.active p,
.features__item.active h3,
.features__item.active .features__logo i {
  color: white;
}

.features__img {
  margin-top: 5rem;
  margin-right: -4.66667rem;
}
.features__img img {
  width: 100%;
  animation: animation__banner 4s infinite;
}
.features__item.active:hover h3,
.features__item.active:hover i {
  color: white;
}
/* PORTFOLIO */
.portfolio {
  padding-top: 115px;
}
.portfolio__content {
  display: grid;
  grid-template-columns: calc(58.33333% / 2) calc(58.33333% / 2) calc(
      100% - 58.33333%
    );
  margin: -1rem;
}
.portfolio__item {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
}
.portfolio__item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  transform: rotate(0) scale(1);
  transition: all 0.5s;
}
.portfolio__item:nth-of-type(1) {
  grid-column: 1 / span 2;
}
.portfolio__item:nth-of-type(5) {
  grid-area: 3/1 / span 2 / span 2;
}
.portfolio__item:nth-of-type(6) {
  grid-area: 2/3 / span 3 / span 1;
}
.portfolio__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200%;
  visibility: hidden;
  display: block;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0.1) 10%
  );
  opacity: 0;
}
.portifolio__icon {
  position: absolute;
  opacity: 0;
  right: 1.5rem;
  top: 1.5rem;
  transform: translate(1.5rem, -1.5rem);
  transition: all 1s;
}
.portifolio__icon i {
  font-size: 2rem;
  padding: 0.7rem;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  opacity: 1;
  border-radius: 0.67777rem;
  color: white;
  cursor: pointer;
}
.portifolio__text {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  opacity: 0;
  transition: all 1s;
  transform: translateY(2.5rem);
}
.portifolio__text h3 {
  color: white;
  font-size: 1.5rem;
}
.portifolio__text p {
  color: #fff;
  font-size: 1.1rem;
}
.portfolio__item:hover .portifolio__icon {
  opacity: 1;
  transform: translate(0, 0);
}
.portfolio__item:hover .portifolio__text {
  transform: translate(0);
  opacity: 1;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  visibility: visible;
  animation: animation__portfolio 0.6s;
}
@keyframes animation__portfolio {
  0% {
    transform: skewX(-25deg) translateX(-135%);
  }
  100% {
    transform: skewX(-25deg) translateX(-20%);
  }
}
/* PLAN */
.plan {
  padding-top: 115px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plan .header__section h1 {
  margin-bottom: 1rem;
}
.header__section .header__tab {
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 0.3rem;
  display: flex;
  margin: 0 auto;
  height: 50px;
  width: 235px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}
.header__tab span {
  font-size: 14px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  transition: all 1s;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  color: white;
}
.header__tab span.monthly {
  color: #000;
}
.header__tab.yearly .monthly {
  color: #fff;
}
.header__section .header__tab.monthly span.monthly,
.header__section .header__tab.yearly span.yearly {
  color: #000;
}
.header__section .header__tab::after,
.header__section .header__tab.monthly::after,
.header__section .header__tab.yearly::after {
  content: "";
  width: calc(50% - 4px);
  display: block;
  height: 42px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 4px;
  right: auto;
  z-index: 2;
  transition: all 1s;
}
.header__section .header__tab.yearly::after {
  transform: translateX(100%);
}
.plan__content {
  display: flex;
  justify-content: space-between;
}
.plan__item {
  width: calc(100% / 3);
  padding: 2.33333rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  background-color: #fff;
  border: 3px solid transparent;
  transition: all 0.5s;
  border-image: 100 round;
}
.plan__item.plan-hover.active {
  border-image: url(../img/br.png) 1 round;
}
.plan__item + .plan__item {
  margin-left: 2rem;
}
.plan__item h3 {
  text-align: center;
  font-size: 2rem;
  color: #262626;
}
.plan__item img {
  width: 125px;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}
.plan__item h2 {
  margin-bottom: 25px;
  color: #f8ae56;
  font-size: 50px;
  text-align: center;
}
.plan__item h2 span {
  font-size: 1.2rem;
  color: #262626;
}
.plan__item ul {
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.plan__item li i {
  font-size: 0.7rem;
  padding: 0.4rem;
  background-color: #feeff3;
  border-radius: 50%;
  color: rgb(245, 95, 141);
}
.plan__item li p {
  font-size: 1.2rem;
  color: #070120;
  margin-left: 1rem;
}
.plan__item input {
  display: block;
  margin: auto;
}
/* TESTIMONIAL */
.testimonial {
  padding-top: 115px;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial__content .testimonial-thumbs {
  position: relative;
  width: 300px;
}
.testimonial-thumbs .swiper-slide {
  width: 80px !important;
  margin: 0 10px;
  height: 170px;
  padding-top: 2rem;
  transition: all 1s;
  display: inline-block;
}
.testimonial-thumbs::before {
  content: "";
  width: 35px;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    white 0%,
    white 33.33333%,
    rgba(255, 255, 255, 0) 100%
  );
}
.testimonial-thumbs::after {
  content: "";
  width: 35px;
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background: linear-gradient(
    to left,
    white 0%,
    white 33.33333%,
    rgba(255, 255, 255, 0) 100%
  );
}
.testimonial-thumbs .testimonial-pic {
  border-radius: 50%;
  border: 4px solid #f55f8d;
  position: relative;
}
.testimonial-thumbs .swiper-slide-active .testimonial-pic::after,
.testimonial-thumbs .swiper-slide-active .testimonial-pic::before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 28px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: -1;
  background-color: #f55f8d;
  animation: animation__subAvatar 1s;
  opacity: 1;
}
.testimonial-thumbs .swiper-slide-active .testimonial-pic::before {
  bottom: -80px;
  left: 31px;
  height: 10px;
  width: 10px;
}
.testimonial-thumbs .swiper-slide-active .pic__arrows::after {
  content: "";
  position: absolute;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  bottom: -29px;
  left: 10px;
  height: 35px;
  z-index: -1;
  width: 50px;
  background-color: #f55f8d;
  animation: animation__avatar 1s;
  opacity: 1;
}
@keyframes animation__avatar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation__subAvatar {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.testimonial-thumbs .testimonial-pic img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.swiper-slide-thumb-active {
  padding: 0 0 40px !important;
}
.testimonial-infor {
  padding-bottom: 3rem;
}
.testimonial-infor .testimonial-text {
  padding: 3rem 3.5rem;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  font-style: italic;
  margin: 20px auto;
  position: relative;
}
.testimonial-infor .testimonial-text:before {
  font-family: "Flaticon";
  top: 10px;
  content: "\f121";
  left: 30px;
  right: auto;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(180deg);
  position: absolute;
  font-style: normal;
}
.testimonial-infor .testimonial-text h2 {
  color: #070120;
  margin-bottom: 0.4rem;
}
.testimonial-infor .testimonial-text span {
  margin-bottom: 1.5rem !important;
  color: #f55f8d;
  display: block;
}
.testimonial-infor .testimonial-text p {
  line-height: 1.5;
  font-size: 1.2rem;
}
.testimonial-infor .swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
/* BLOG */
.blog {
  padding-top: 115px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.blog__content {
  cursor: grab;
}
.blog__item {
  background-color: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
  position: relative;
}
.blog__item + .blog__item {
  margin-left: 30px;
}
.blog__item img {
  display: block;
  border-radius: 8px;
  cursor: pointer;
}
.blog__text {
  padding: 1.5rem 1rem 1.33333rem 1rem;
}
.blog__text span {
  position: absolute;
  top: 205px;
  left: 1rem;
  color: white;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 6px;
}

.blog__text h2 {
  margin: 10px 0;
  color: #070120;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.5s;
}
.blog__text h2:hover {
  color: #f55f8d;
}
.blog__text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.blog__text ul {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.blog__text li {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.blog__text li a {
  color: #f55f8d;
}
.blog__text i {
  color: #f55f8d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
/* TRADEMARK */
.trademark {
  padding-top: 110px;
  padding-bottom: 80px;
}
.trademark__carousel {
}
.trademark__item {
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 100px;
  display: flex;
  align-items: center;
  transition: all 1s;
}
.trademark__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 0.5rem;
  transition: all 1s;
}
.trademark__item:hover::after {
  opacity: 1;
}
.trademark__item img {
  width: auto !important;
  height: auto !important;
  margin: auto;
  display: block;
}
.trademark__item .logo__hover {
  display: none !important;
  opacity: 0;
}
.trademark__item:hover .logo__main {
  display: none;
  opacity: 0;
}
.trademark__item:hover .logo__hover {
  display: block !important;
  opacity: 1;
}
/* FOOTER */
footer {
  background-image: url(../img/bg4.png);
  display: block;
}
.site__footer {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: auto !important;
  background-color: #0e1b1f;
  background-size: contain;
  z-index: 0;
}
.footer__background {
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__subscribe {
  display: flex;
  justify-content: space-between;
  padding: calc(4rem - 10px) 4rem;
  align-items: center;
  padding: 50px 60px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer__subscribe h2 {
  font-size: 1.8rem;
  color: #262626;
}
.subscribe__right {
  display: flex;
  width: 50%;
}
.footer__subscribe input {
  outline: none;
  padding: 1.2rem 1.2rem;
  width: 100%;
  border: 0;
  border: 1px solid #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  font-size: 1rem;
}
.footer__subscribe input:hover,
.footer__subscribe input:focus {
  border-color: #f55f8d;
}
.footer__subscribe button {
  padding: 1.2rem 2.3rem;
  border-radius: 0 8px 8px 0;
  outline: none;
  cursor: pointer;
}
.footer__subscribe i {
  font-size: 1.5rem;
  color: white;
}
.footer__subscribe button:hover i {
  animation: animation__btnFooter 0.5s;
}

@keyframes animation__btnFooter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
    opacity: 0;
  }
  51% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.footer__content {
  padding-top: 4.67777rem;
  padding-bottom: 2rem;
  display: flex;
}
.footer__item {
  width: 25%;
}
.footer__item + .footer__item {
  padding-left: 30px;
}
.footer__logo {
  margin-bottom: 1.67777rem;
}
.footer__logoContent li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #ffffff99;
}
.footer__logoContent ul li:nth-of-type(3) span {
  padding-right: 1rem;
}
.footer__logoContent i {
  height: 40px;
  width: 40px;
  min-width: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  display: inline-block;
}
.footer__logoContent span {
  display: inline-block;
  margin-left: 0.5rem;
  line-height: 1.5;
}
.footer__item h2 {
  color: white;
  position: relative;
  padding-bottom: 5px;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.footer__item h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 1rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  background-size: 200%;
}
.footer__item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 40px;
  left: 20px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);

  background-size: 200%;
}
.footer__item > ul > li {
  margin-bottom: 1.5rem;
}

.footer__item > ul > li a:hover,
.footer__item > ul > li a:hover i {
  color: #fff;
}
.footer__item > ul > li i {
  color: #ffffff99;
  transition: all 0.5s;
  margin-right: 0.5rem;
}
.footer__item a {
  transition: all 0.5s;
  color: #ffffff99;
}
.footer__coypyright {
  padding: 0.67777rem;
  background-color: #1f343b;
  color: rgba(255, 255, 255, 0.5);
}
.footer__coypyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__coypyright a {
  color: rgb(245, 95, 141);
}
.copyright__icon i {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin-left: 0.2rem;
  cursor: pointer;
}
.copyright__icon i:hover {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
}
.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 1.2rem;
  background: #f55f8d;
  opacity: 0;
  border-radius: 10px;
  visibility: hidden;
}
.back-to-top i {
  font-size: 1rem;
  color: white;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
